:root{
    --red: #e15554ff;
    --blue: #9dbbec;
    --green: #03cea4ff;
    --saffron: #e1bc29ff;
    --black: #090909ff;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
button{
    background-color: var(--blue);
}
.card{
    background-color: var(--blue);
    height: 100%;
    width: 100%;
    border-radius: 4px;
    margin: 1rem;
}
.select{
    max-width: 40vw;
}