:root{
    --red: #e15554ff;
    --blue: #9dbbec;
    --green: #03cea4ff;
    --saffron: #e1bc29ff;
    --black: #090909ff;
}

html{
    height: 100%;
}
body{
    height: 100%;
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
button{
    background-color: var(--blue);
    border: 0;
    border-radius: 2px;
    min-height: 2rem;
    min-width: 4rem;
}
button:hover{
    cursor: pointer;
}
.card{
    background-color: var(--blue);
    min-height: 100%;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    margin: 1rem;
}
.form-element{
    max-width: 40vw;
    margin-bottom: 1rem;
}